<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>

<h1>Gerenciar SubAreas</h1>

<div>
    

    <form th:action="@{/subareas}" method="post" th:object="${subarea}">
    <table>
	<tbody>
		<tr>
        	<td><label for="nome">SubArea:</label></td>
        	<td><input type="text" id="nome" th:field="*{nome}"></td>
        </tr>
       <tr>
        	<td><label for="nome">Area:</label></td>
        	<td><input type="text" name="area"></td>
        </tr>
		<tr>
        	<td><button type="submit" name="acao" value="gravar">Gravar</button></td>
        	<td><button type="submit" name="acao" value="pesquisar">Pesquisar</button></td>
        </tr>
        </tbody>
        </table>
    </form>
</div>

<h2>Lista de SubAreas</h2>
<table class = "table">
    <thead>
        <tr>
            <th>SubArea</th>
            <th>Area</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="subarea : ${subareas}">
            <td th:text="${subarea.nome}"></td>
            <td th:text="${subarea.area.nome}"></td>
            <td>
                <a th:href="@{/subareas/editar/{nome}(nome=${subarea.nome})}">Editar</a>
                <a th:href="@{/subareas/delete/{nome}(nome=${subarea.nome})}">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>